/* CSS Stylesheet for Afika Nyati's Personal Website */

/* Stores all CSS variable */
:root {
    --dark-gray: #212323;
    --dark-purple: #190f27;
    --transluscent-dark-purple: rgba(25, 15, 39, 0.8);
    --light-purple: #5a4570;
    --transluscent-light-purple: rgba(90,69,112, 0.8);
    --mid-gray: #989898;
    --light-gray: #dededd;
    --cream : #dbd7cf;
    --white: #ffffff;
    --transluscent-white: rgba(255, 255, 255, 0.8);
    --body-text-color: rgba(35,31,32, 0.87);
    --heading-font: "ArcaMajora" , "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    --heading-weight: 800;
    --body-font: "MontserratAlternates" , "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --body-weight: 400;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
	font-size: 16px;
	color: var(--body-text-color);
	font-family: var(--body-font);
	margin: 0;
	background: var(--white);
	overflow-x: hidden; /* hides overflow from hidden navigation */
	height: 100vh;
}

a, a:visited, a:hover {
	text-decoration: none;
}

textarea, input {
	-webkit-transition: border .5s ease-in-out;
  transition: border .5s ease-in-out;
}

textarea:focus, input:focus {
	border-color: none;
}

textarea:focus, input:focus, button:focus, button {
    outline: blue;
}

button {
	border: none;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--dark-gray);
    width: 100vw;
    height: 100vh;
}

/*========================================== */

/* Navigation */

.navigation {
    position: absolute;
    top: 0px;
    left: 8px; /* Gray block is 8px in width */
    height: 100vh;
    width: 60vw;
    background: #ffffff;
    z-index: 1;
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
}

.navigation.closed {
    left: -60vw;
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
}

.navigation.contact-open {
    left: -60vw;
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
}

.nav-locker {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    visibility: visible;
    opacity: 1;
	position: relative;
	padding: 0;
	cursor: pointer;
    padding: 13px 0;
    animation: FadeIn 0.2s linear;
    animation-fill-mode: both;
}

.nav-item.remove {
    visibility: hidden;
    opacity: 0;
    transform: scale(.1);
    transform: translate(-50px,50px);
    animation: FadeOut 0.1s linear;
    animation-fill-mode: both;
}

.nav-item:nth-child(1) { animation-delay: 0.05s }
.nav-item:nth-child(2) { animation-delay: 0.1s }
.nav-item:nth-child(3) { animation-delay: 0.15s }
.nav-item:nth-child(4) { animation-delay: 0.2s }
.nav-item:nth-child(5) { animation-delay: 0.25s }
.nav-item:nth-child(6) { animation-delay: 0.3s }

.nav-item > div {
    border-left: 3px solid var(--dark-purple);
    padding-left: 25px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.nav-writing {
    position: relative;
    display:inline-block;
    top: 5px;
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
    color: var(--light-purple);
    text-transform: uppercase;
    font-size: 1.6em;
    line-height: 0.7;
	margin: 0;
	padding: 0;
}

.nav-writing > .crossbar {
    height: 5px;
    width: 0;
    background: var(--cream);
    transform: translateY(-13px);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.nav-writing > .crossbar.show {
    width: 100%;
    transition: all 0.2s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}


.nav-verb {
    position: relative;
    top: -1px;
    left: -15px;
    display: inline-block;
    margin: 0;
    margin-left: 20px;
    vertical-align: bottom;
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
    color: var(--dark-purple);
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.nav-item:hover .nav-verb {
    opacity: 1;
    left: 15px;
}

#afika-logo {
    position: absolute;
    top: 50px;
    left: 40px;
    height: 70px;

}

/*========================================== */

/* Nav-Trigger/Hamburger Style */

.hide-hamburger {
	display: none;
}

.nav-trigger {
	position: absolute;
	display: none;
}

.nav-trigger-icon {
    position: fixed;
    top: 25px;
    right: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.nav-trigger-icon.contact-open {
    opacity: 0;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

/* Hover Effects */

.nav-trigger-icon:hover:not(.is-active) {
    right: 55px;    /* Move to the left 15px */
}

.nav-trigger-icon:hover > .hamburger:not(.is-active) {
    width: 60px;    /* Increase length of bars by 15px */
}

.nav-trigger-icon.is-active:hover {
    transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
}


/* Hamburger Icon Style */

.hamburger {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 45px;   /* Scales the button-size */
	height: 40px;  /* Scales the button-size */
	background: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.hamburger:focus {
    outline: none;
}

.hamburger span {
	display: block;
	position: absolute;
	top: 18px;   /* sets span to middle of square */
	left: 4.5px;
	right: 4.5px;
	height: 4px;   /* width of bar */
	background: #ffffff;
	transition: background 0s 0.3s;
	-webkit-transition: background 0s 0.3s;
	-moz-transition: background 0s 0.3s;
	-ms-transition: background 0s 0.3s;
}

.hamburger span::before,
.hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;   /* width of bar */
	background: #ffffff;
	content: "";
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
	-webkit-transition-duration: 0.3s, 0.3s;
	-webkit-transition-delay: 0.3s, 0s;
	-moz-transition-duration: 0.3s, 0.3s;
	-moz-transition-delay: 0.3s, 0s;
	-ms-transition-duration: 0.3s, 0.3s;
	-ms-transition-delay: 0.3s, 0s;
}

.hamburger span::before {
	top: -9px;
	transition-property: top, transform;
	-webkit-transition-property: top, transform;
	-moz-transition-property: top, transform;
	-ms-transition-property: top, transform;
}

.hamburger span::after {
	bottom: -9px;
	transition-property: bottom, transform;
	-webkit-transition-property: bottom, transform;
	-moz-transition-property: bottom, transform;
	-ms-transition-property: bottom, transform;
}

/* Animate to "X" */

.hamburger.is-active span {
	background: none;
}

.hamburger.is-active span::before {
	top: 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.hamburger.is-active span::after {
	bottom: 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);

}

.hamburger.is-active span::before,
.hamburger.is-active span::after {
	transition-delay: 0s, 0.3s;
	-webkit-transition-delay: 0s, 0.3s;
	-moz-transition-delay: 0s, 0.3s;
	-ms-transition-delay: 0s, 0.3s;
}

/*========================================== */

/* Site Overlay*/

.site-overlay {
	min-width: 100vw;
    min-height: 100vh;
    background: rgba(0,0,0,0.8);
    position: absolute;
	display: none;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.site-overlay.open {
	display: block;
}

/*========================================== */

/* Feed */

.feed-wrapper {
    position: absolute;
    top: 0;
    right: 113px; /* 121px - 8px where 121 (25 + 71 + 25) */
    height: 96vh;
    width: 60vw;
    margin: 2vh 0;
    padding: 0;
    z-index: 2;
    background: var(--dark-gray);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.feed-wrapper.contact-open {
    top: -100vh;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.feed-wrapper .feed-box {
    position: relative;
    height: 96vh !important;
    width: 60vw;
    border: 8px solid var(--dark-gray);
    overflow: scroll;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.feed-wrapper .feed-box.enlarge {
    width: 100%;
    transition: all 0.3 0.3s;
    -webkit-transition: all 0.3 0.3s;
    -moz-transition: all 0.3 0.3s;
    -ms-transition: all 0.3 0.3s;
}

.feed-wrapper.padded {
    right: 0;
    width: 100vw;
    padding: 0 113px;
    transition: all 0.3s;
    -webkit-transition: all 0.3 0.3s;
    -moz-transition: all 0.3 0.3s;
    -ms-transition: all 0.3 0.3s;
}

.feed-item {
    display: inline-block;
    position: relative;
    width: 50%;
    min-width: 165px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24); */
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    cursor: pointer;
    overflow: hidden;
    border: 8px solid var(--dark-gray);
    background: var(--light-purple);
}

.feed-item.no-thumbnail {
    width: 100%;
}

.feed-item.dark {
    background: var(--dark-purple);
}

.feed-item.mid {
    background: var(--light-purple);
}

.feed-item.light {
    background: var(--white);
}

.feed-image {
	display: block;
	width: 100%;
	height: auto;
}

.feed-image img {
    width: 100%;
}

.feed-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	-ms-transition: all 0.3s;
}

.feed-overlay.dark-purple {
    background: var(--transluscent-dark-purple);
}

.feed-overlay.white {
    background: var(--transluscent-white);
}

.feed-overlay-info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

.feed-overlay-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translateY(10px);
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
}

.feed-overlay-icon img {
    width: 40px;
}

.feed-overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.feed-overlay-text .feed-overlay-description, .feed-overlay-text .feed-overlay-title {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 600;
    transform: translateY(10px);
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
}

.feed-overlay-text .feed-overlay-title {
    margin-bottom: 0;
    font-family: var(--heading-font);
}

.feed-overlay-text .feed-overlay-description {
    font-size: .8em;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: var(--body-font);
    text-transform: capitalize;
    color: var(--cream);
}

.feed-overlay-text.light-purple .feed-overlay-title,
.feed-overlay-text.white .feed-overlay-title {
    color: var(--dark-purple);
}

.feed-overlay-text.dark-purple .feed-overlay-description {
    color: var(--cream);
}

.feed-overlay-text.white .feed-overlay-description {
    color: var(--light-purple);
}
.feed-overlay-text .feed-overlay-title.no-thumbnail {
    font-family: var(--heading-font);
    font-size: 1.3em;
}

.feed-overlay-text .feed-overlay-title.no-thumbnail.cream{
    color: var(--cream);
}

.feed-item:hover .feed-overlay-description,
.feed-item:hover .feed-overlay-title,
.feed-item:hover .feed-overlay-icon {
	transform: translateY(0px);
	opacity: 1;
	transition: all 0.3s;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	-ms-transition: all 0.3s;
}

.feed-item:hover .feed-overlay {
    background: var(--transluscent-dark-purple);
    transition: all 0.3s;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	-ms-transition: all 0.3s;
}

.generate-thumb {
    right: 0;
    display: block;
    width: 100%;
    height: 275px;
    overflow: hidden;
}

.generate-thumb.white {
    background: var(--white);
}

.generate-thumb.light-purple {
    background: var(--light-purple);
}

.generate-thumb.dark-purple {
    background: var(--dark-purple);
}

.thumb-writing-wrapper {
    width: 100%;
    height: 100%;
}
.thumb-writing {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
    font-size: 2em;
    transform: translate(-50%,-50%);
    margin: 0;
    line-height: 1.5em;
}

.thumb-writing.white {
    color: var(--white);
}

.thumb-writing.light-purple {
    color: var(--light-purple);
}

.thumb-writing.dark-purple {
    color: var(--dark-purple);
}

.img-placeholder {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 30vw;
    display: block;
    position: relative;
}

.img-placeholder img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

/*========================================== */

/* Social Bar */

.social-bar {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    width: 71px;
    height: 326px;
    margin: 0;
    border: 3px solid var(--white);
    padding: 0;
    transition: right 0.3s 0.4s;
	-webkit-transition: right 0.3s 0.4s;
	-moz-transition: right 0.3s 0.4s;
	-ms-transition: right 0.3s 0.4s;
}

.social-bar.remove {
    right: -71px;
    transition: right 0.3s;
	-webkit-transition: right 0.3s;
	-moz-transition: right 0.3s;
	-ms-transition: right 0.3s;
}

.social-bar.contact-open {
    right: -71px;
    transition: right 0.3s;
	-webkit-transition: right 0.3s;
	-moz-transition: right 0.3s;
	-ms-transition: right 0.3s;
}

.social-button {
    width: 65px;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}

.social-button:first-child {
    padding-top: 20px;
}
.social-button:last-child {
    padding-bottom: 20px;
}

.social-button svg {
    width: 25px;
    height: 25px;
}

.social-button svg > path,
.social-button svg > rect,
.social-button svg > polygon {
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.social-button:hover svg > path,
.social-button:hover svg > rect,
.social-button:hover svg > polygon {
    fill: var(--light-purple);
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

/*========================================== */

/* Message Interface */

.contact-icon-wrapper {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.contact-icon-wrapper.remove {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

#contact-icon {
    position: absolute;
    bottom: 30px;
    right: 43px;
    width: 35px;
    cursor: pointer;
    z-index: 4;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

#contact-icon:hover > path {
    fill: var(--light-purple);
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.contact-form-wrapper {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--dark-gray);
    transition: all 0.3s;
	-webkit-transition: all 1s 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.contact-form-wrapper.remove {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.contact-form-logo {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 80px;
}

.contact-form {
    margin-top: 130px;
    padding: 50px;
}

.contact-form .left-form,
.contact-form .right-form {
    width: 48%;
    float: left;
}

.contact-form .right-form {
    float: right;
}

.contact-form .left-form p,
.contact-form .right-form p {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.7em;
    line-height: 1.5;
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
    color: var(--white);
}

.contact-form .left-form span.asterisk {
    color: var(--light-purple);
}

.form-input-wrapper {
    position: relative;
}

.contact-form .left-form input,
.contact-form .right-form input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid var(--white);
    font-family: var(--body-font);
    font-weight: 500;
    color: var(--cream);
    font-size: 1.8em;
}

.contact-form .right-form textarea {
    position: relative;
    top: 2.7em;
    width: 100%;
    height: 9.6em;
    border: 3px solid var(--white);
    background-color: transparent;
    padding: 5px 12px;
    font-family: var(--body-font);
    font-size: 1em;
    font-weight: 500;
    color: var(--cream);
    resize: none;
}

.contact-form .right-form button {
    visibility: visible;
    opacity: 1;
    margin-top: 1.2em;
    font-family: var(--heading-font);
    font-size: 1.3em;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    background-color: transparent;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.contact-form.sent .right-form button {
    cursor: default;
}

.contact-form.sent .right-form button span {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.contact-form .right-form button #contact-form-send-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;

}

.contact-form .left-form input:focus,
.contact-form .right-form input:focus {
    border-bottom: 3px solid var(--light-purple);
}

.contact-form .right-form textarea:focus {
    border: 3px solid var(--light-purple);
}

.contact-form .right-form button:hover h3 {
    color: var(--light-purple);
}

.contact-form.sent .right-form button #contact-form-send-icon {
    animation: FlyArrow 1s linear;
    animation-fill-mode: both;
}

.contact-form .right-form button:hover #contact-form-send-icon path {
    fill: var(--light-purple);
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

/*========================================== */

/* Tooltip */

.tooltip {
	font-family: var(--body-font);
}

/*========================================== */

/* Snackbar Style */

.snackbar-error {
	text-align: center !important;
	background: var(--light-purple);
}

.snackbar-error span {
	font-family: var(--heading-font);
	font-size: 1em;
	font-weight: var(--heading-weight);
	color: var(--white);
}

.snackbar-error > div {
	margin: 20px !important;
	height: auto !important;
	line-height: 1.5em !important;
    background: var(--light-purple) !important;
}

/*========================================== */

/* Spinner */

.square-split .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}

.square-split .loader > div {
    float: left;
    width: 50%;
    height: 50%;
}

.square-split .loader > div::after {
    content: '';
    display: block;
    margin: 50% 0 0 50%;
    width: 50%;
    height: 50%;
    background: var(--light-purple);
    animation: squareSplit 2s infinite ease-in-out alternate;
}

.square-split .loader .square-2 {
    transform: rotate(90deg);
}

.square-split .loader .square-3 {
    transform: rotate(270deg);
    animation-direction: reverse;
}

.square-split .loader .square-4 {
    transform: rotate(180deg);
    animation-direction: reverse;
}

/*========================================== */

/* Animations */

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(.1);
    transform: translate(-50px,50px);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
    transform: translate(0px,0px);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes FadeOut {
  0% {
    transform: scale(1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
    transform: translate(0px,0px);
  }
  100% {
    transform: scale(1);
    opacity: 0;
    transform: scale(.1);
    transform: translate(-50px,50px);
  }
}

@keyframes FlyArrow {
  0% {
      position: relative;
      transform: scale(1) translateX(-100px);
  }

  80% {
      position: relative;
      transform: scale(20) translateX(100px);
  }

  100% {
      position: relative;
      opacity: 0;
  }
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

@keyframes squareSplit {
    20% {
        transform: rotate(0deg);
        margin: 50% 0 0 50%;
    }
    50% {
        transform: rotate(90deg);
        margin: 0px;
    }

    80% {
        transform: rotate(180deg);
        margin: 50% 0 0 50%;
    }

    100% {
        transform: rotate(180deg);
        margin: 50% 0 0 50%;
    }
}

/*========================================== */

/* Fonts */

/* Arca Majora 3 */

@font-face {
font-family: ArcaMajora;
src: url(../fonts/arca_majora_3/ArcaMajora3-Black.woff);
font-weight: 900;
}

@font-face {
font-family: ArcaMajora;
src: url(../fonts/arca_majora_3/ArcaMajora3-Heavy.woff);
font-weight: 800;
}

/* Montserrat Alternates */

@font-face {
font-family: MontserratAlternates;
src: url(../fonts/montserrat_alternates/MontserratAlternates-Black.otf);
font-weight: 900;
}

@font-face {
font-family: MontserratAlternates;
src: url(../fonts/montserrat_alternates/MontserratAlternates-ExtraBold.otf);
font-weight: 800;
}

@font-face {
font-family: MontserratAlternates;
src: url(../fonts/montserrat_alternates/MontserratAlternates-Bold.otf);
font-weight: 700;
}

@font-face {
font-family: MontserratAlternates;
src: url(../fonts/montserrat_alternates/MontserratAlternates-SemiBold.otf);
font-weight: 600;
}

@font-face {
font-family: MontserratAlternates;
src: url(../fonts/montserrat_alternates/MontserratAlternates-Medium.otf);
font-weight: 500;
}

@font-face {
font-family: MontserratAlternates;
src: url(../fonts/montserrat_alternates/MontserratAlternates-Regular.otf);
font-weight: 400;
}

@font-face {
font-family: MontserratAlternates;
src: url(../fonts/montserrat_alternates/MontserratAlternates-Light.otf);
font-weight: 300;
}

@font-face {
font-family: MontserratAlternates;
src: url(../fonts/montserrat_alternates/MontserratAlternates-ExtraLight.otf);
font-weight: 200;
}

@font-face {
font-family: MontserratAlternates;
src: url(../fonts/montserrat_alternates/MontserratAlternates-Thin.otf);
font-weight: 100;
}
